
// wrapper
.wrapper{
    width: 80%;
    min-height: 600px;
    background: $wrapper-bg-color;
    margin: 0 auto;
    margin-top: 4rem;
    .main{
        display: flex;

        .content{
            flex: 1;
        }
    }
}

// header

.header{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.8rem;
    background-color: $light-color;
    &-logo{
        img{
            height: 4rem;
        }
    }
    &-search{
        flex-basis: 40%;
        position: relative;
        &::after{
            content:"\f002" ;
            color: $light-color;
            font-size: 1rem;
            position: absolute;
            right: 3%;
            top: 50%;
            @include transform(translateY(-50%));
        }
        form{
            input{
                background-color: $primary-color;
                padding: 0.8rem;
                color: $light-color;
                font-size: 0.7rem;
                width: 100%;
                letter-spacing: 0.03rem;
                border: 2px solid transparent;
                @include radius(4px);
                @include transition(500ms all);

                &:focus{
                    background-color: transparent;
                    border: 2px solid $primary-color;
                }
            }
        }
    }
    &-profile{
        display: flex;
        height: inherit;
        gap: 2rem;
        //profile içindeki butun divlerin 
        //duzenlemesini sağlamak için
        &>div{
            @include centerFlex;
        }
        &__bookmarks,
        &__email{
            i{
                font-size: 1rem;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    width: 0.3rem;
                    height: 0.3rem;
                    background-color: #ed1c24;
                    right: 0;
                    top: 0;
                    @include radius(50%);
                    @include transform(translate(2px,-4px))
                }
            }
        }
        &__avatar{
            &-img{
            width: 3rem;
            height: 3rem;
            overflow: hidden;
            @include radius(50%);
            img{
             @include fitImg;
            }
            }
        }
    }
}










