@import url("https://fonts.googleapis.com/css?family=Poppins");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea,
select,
option {
  border: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  letter-spacing: 0.02rem;
  background: linear-gradient(90deg, #d1c3fc, #9bc4fc);
}

.wrapper {
  width: 80%;
  min-height: 600px;
  background: #f5fbff;
  margin: 0 auto;
  margin-top: 4rem;
}
.wrapper .main {
  display: flex;
}
.wrapper .main .content {
  flex: 1;
}

.header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.8rem;
  background-color: #fff;
}
.header-logo img {
  height: 4rem;
}
.header-search {
  flex-basis: 40%;
  position: relative;
}
.header-search::after {
  content: "\f002";
  color: #fff;
  font-size: 1rem;
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
}
.header-search form input {
  background-color: #000;
  padding: 0.8rem;
  color: #fff;
  font-size: 0.7rem;
  width: 100%;
  letter-spacing: 0.03rem;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: 500ms all;
}
.header-search form input:focus {
  background-color: transparent;
  border: 2px solid #000;
}
.header-profile {
  display: flex;
  height: inherit;
  gap: 2rem;
}
.header-profile > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-profile__bookmarks i, .header-profile__email i {
  font-size: 1rem;
  position: relative;
}
.header-profile__bookmarks i::after, .header-profile__email i::after {
  content: "";
  position: absolute;
  width: 0.3rem;
  height: 0.3rem;
  background-color: #ed1c24;
  right: 0;
  top: 0;
  border-radius: 50%;
  transform: translate(2px, -4px);
}
.header-profile__avatar-img {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  border-radius: 50%;
}
.header-profile__avatar-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sidebar {
  flex-basis: 20%;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-nav__link {
  color: #fff;
  display: flex;
  gap: 1rem;
  align-items: center;
  text-transform: uppercase;
  padding: 1rem;
  padding-left: 2rem;
  transition: 300ms all;
}
.sidebar-nav__link:hover {
  background: #4aa93f;
  padding-left: 2.5rem;
}
.sidebar-copyright {
  padding: 2rem;
}
.sidebar-copyright p {
  color: #acacac;
  font-size: 0.9rem;
  text-align: center;
  line-height: 2rem;
}
.sidebar-copyright p span {
  color: #fff;
}

.content-top__img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.content-top__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content-top__bant {
  display: flex;
  height: 90px;
  background-color: #fff;
  align-items: center;
}
.content-top__bant h2 {
  font-size: 1rem;
  font-weight: 400;
  padding-left: 2rem;
}
.content-top__bant h2 i {
  margin-right: 1.5rem;
}
.content-top__bant h2 strong {
  font-weight: 600;
}
.content-top__bant p {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
}/*# sourceMappingURL=style.css.map */